<!DOCTYPE html>

<head>
    <title>Users Data</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
        <div class="header">
        <h1>User Details</h1>
        </div>
        <div class="hl"></div>
        <br>
        <div class="data_display">
            <table> 
                <tr>
            <th><h3>Sl. No   </h3></th>
            <th><h3>Name  </h3></th>
            <th><h3>College</h3></th>
            <th><h3>Phone  </h3></th>
            <th><h3>Mail  </h3></th>
        </tr>
        <% for(let i=0;i<data.length;i++){ %>    
        <tr>
            <td><h4><%- i+1 %></h4></td> 
            <td><h4><%- data[i].name%></h4> </td>
            <td><h4><%- data[i].inst %></h4></td>
            <td><h4><%- data[i].phone %></h4> </td>
            <td><%- data[i].username %></h4> </td>
        </tr>
            <br>
            <% } %>
        </table>
        </div>

</body>